/* General styling for body */
    body {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f2f2f2;
        margin: 0;
      }
      
      h3 {
        font-size: 18px;
        color: #444;
        font-weight: bold;
        margin-top: 20px;
      }
      
      .fire-danger-chart {
        text-align: center;
      }
      
      .fire-danger-semicircle {
        width: 500px;            /* Width of the semicircle */
        height: 500px;           /* Full circle size */
        background: conic-gradient(
            #66bb6a 0deg 120deg,   /* Low (green) */
            #ffeb3b 120deg 160deg,  /* Moderate (yellow) */
            #ff9800 160deg 200deg,  /* High (orange) */
            #f44336 200deg 240deg, /* Very High (red) */
            #d32f2f 240deg 360deg/* Severe (dark red) */
           
        );
        position: relative;
        border-radius: 50%;  /* Make it a full circle */
        margin: 0 auto;
        overflow: hidden;    /* Clip the top half */
        transform: rotate(180deg); /* Rotate to start from the bottom center */
      }
      
      .fire-danger-semicircle {
        clip-path: inset(50% 0 0 0); /* Clip the top half to form a semicircle */
      }

      #Mainpanel {
        display: flex;
        flex-direction: column;
        align-items: ;
      }
      